@import "https://unpkg.com/open-props";
@import "https://unpkg.com/open-props/normalize.min.css";


body{
    background-image: url(../res/BG/Space-Gradient.jpg);
    width: 100vw;
    height: 200vh;
    padding: 5px;
}
.media-scroller{
    --spacer:0.5rem;
    display:grid;
    gap: var(--spacer);
    grid-auto-flow: column;
    grid-auto-columns: 22%;
    

    overflow-x: hidden;
    overscroll-behavior-inline: contain;
}
.media-scroller:hover{
    overflow-x: auto;
}
.snaps-inline {
    scroll-snap-type: inline mandatory;
    scroll-padding-inline: var(--_spacer, 1rem);
}
.outer-container{
    height: 100vh;
    background-origin: content-box;
    width: 100%;
    padding: 20px;
}
.snaps-inline > *{
    scroll-snap-align: start;
}

.media-item{
    display: grid;
        grid-template-rows: min-content;
        gap: var(--spacer);
        padding: var(--spacer);
        background: var(--surface-2);
        border-radius: var(--radius-2);
        box-shadow: var(--shadow-2);
        
}

.media-item>img {
    inline-size: 200%;
    aspect-ratio: 16 / 9;
    object-fit:cover;
    border-radius: 5px;
    
}

.media-item>p {
    font-size: 12px;
    overflow-wrap: break-word;
}


.para>p{
    /* Your paragraph styles here */

    width: 100vw;
    box-sizing: border-box;
    white-space:inherit;
    margin: 5px;
    padding: 5px;
}

.para>img{
    inline-size: 40%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    border-radius: 15px;
    margin: 10px;

}

.para{
    display: flex;
    padding: 5px;

}

.outer-container>h1{
    text-align: left;
}