@import "https://unpkg.com/open-props";
@import "https://unpkg.com/open-props/normalize.min.css";

.outer-cont{
    margin:30px;
}
.img-cont img{
    max-width: 40vh;
    max-height: auto;
    min-width: 2vh;
    min-height: auto;
    border-radius: 10px;
}
.img-cont{
    margin-top: 20px;
    min-height: 20vw;
    max-height: 30vw;
    padding: 10px;
    
}
.main-cont{
    display: flex;
}

.ship-details{
    padding: 10px;
    margin: 10px;
    border: 1px solid #ffffff;
    border-radius: 10px;
    min-width: 50vh;
}

.specs{
    padding: 10px;
        margin: 5px;
}

.specs::-webkit-scrollbar {
    width: 9dvh;
}

.specs h4{
    position: static;
    padding: 10px;
}

.des{
    padding: 10px;
    margin: 5px;
}