@import "https://unpkg.com/open-props";
@import "https://unpkg.com/open-props/normalize.min.css";

.outer-cont{
    margin:30px;
}
.img-cont img{
    max-width: 40vh;
    max-height: auto;
    min-width: 2vh;
    min-height: auto;
    border-radius: 10px;
}
.img-cont{
    margin-top: 20px;
    min-height: 20vw;
    max-height: 30vw;
    padding: 10px;
    
}
.main-cont{
    display: flex;
}

.ship-details{
    transition: ease-in-out 0.5s;
    padding: 10px;
    margin: 10px;
    border: 0.2px solid #ffffff;
    border-radius: 10px;
    min-width: 50vh;
}

.specs{
    padding: 10px;
        margin: 5px;
}

.specs::-webkit-scrollbar {
    width: 9dvh;
}

.specs h4{
    position: static;
    padding: 10px;
}

.des{
    padding: 10px;
    margin: 5px;
}

.book-btn{
transition: ease-in-out 0.2s;
background-color: transparent;
border: #ffffff solid 1px;
}

.testDrive-btn{
    transition: ease-in-out 0.2s;
    background-color:transparent;
    border:#ffffff solid 1px;
}

.book-btn:hover{
    transition: ease-in-out 0.2s;
    background-color: #efefef;
    color: #000000;
}

.testDrive-btn:hover{

    transition: ease-in-out 0.2s;
    background-color: #efefef;
    color: #000000;
}

.ship-details:hover{
    transition: ease-in-out 0.5s;
    background-color: #090110;
    color: #ffffff;
}